[submodule "plzoo"]
	path = related/plzoo
	url = https://github.com/andrejbauer/plzoo.git
[submodule "concat"]
	path = related/concat
	url = https://github.com/compiling-to-categories/concat.git
[submodule "inline-c"]
	path = related/inline-c
	url = https://github.com/fpco/inline-c.git
[submodule "stgi"]
	path = related/stgi
	url = https://github.com/quchen/stgi.git
[submodule "related/minirust"]
	path = related/minirust
	url = git@github.com:minirust/minirust.git
